/* External CSS style file */

* {
   box-sizing: border-box;
}

body {
   font-family: Arial;
   padding: 10px;
   background: #f1f1f1;
}

/* Header (div) formatting */
.header {
   padding: 10px;
   text-align: center;
   background-color: #cccccc;
   color: #000000;
}

.header h1 {
   font-size: 50px;
}


/* Make the logo have a rounded edge */
img.top-image {
   vertical-align: middle;
}

/* CSS Layout from W3Schools: https://www.w3schools.com/css/css_templates.asp */
/* Style the top navigation bar */
.topnav {
   overflow: hidden;
   background-color: #333;
 }
 
 /* Style the topnav links */
 .topnav a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }
 
 /* Change color on hover */
 .topnav a:hover {
   background-color: #ddd;
   color: black;
 }
 
 /* Style the content */
 .content {
   background-color: #ddd;
   padding: 10px;
 }
 
 /* Style the footer */
 .footer {
   background-color: #cccccc;
   padding: 10px;
 }

 .fact-card {
   border-top: 1px solid #ccc;
   padding-top: 20px;
 }
 
 .dashboard {
   display: grid;
   grid-template-columns: repeat(2, 1fr); /* 2 columns */
   gap: 60px 100px; /* row gap and column gap */
   max-width: 1000px;
   margin: auto;
   }

  .main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px; /* space between left and right sides */
  margin: 40px auto;
  max-width: 1200px;
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.table-container {
  width: 100%;
  height: 400px; /* adjust to your actual table height */
  background-color: #d9d9d9; /* placeholder */
  border-radius: 6px;
}
